.topnav {
    overflow: hidden;
    background-color: #333;
  }

.h {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: brown;
}

.p {
    text-align:center; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 1.4rem;
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
}

.zoom {
    padding: 5rem;
    transition: transform .2s; 
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2);
  }

  .rule {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 1em;
    line-height: .3;
  }

  .rule:after, .rule:before {
    content: " ";
    position: relative;
    background-color: #ccc;
    display: block;
    height: 1px;
    -webkit-flex-grow: .5;
    flex-grow: .5;
  }

  h1, h2  {
    font-family: 'Slabo 27px', serif;
    font-size: 3rem;
    color: brown;
  }